button{
    background-color: $blue;
    border: 1px solid $blue;
    outline: none;
    color: white;
    border-radius: 2px;
    padding: 5px 10px;
    cursor: pointer;
    &:hover{
        background-color: white;
        color: $blue;
    }
}

.btn-primary{
    border: 2px solid white;
    background-color: transparent;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: 700;
    &:hover{
        color: $blue;
    }
}
